Scripts/flows.json
[{"id":"e9b794bd.d66518","type":"tab","label":"Blink","disabled":false,"info":""},{"id":"b8f7988a.e920b8","type":"server-state-changed","z":"e9b794bd.d66518","name":"Apt Door","server":"24d9b0c8.1881a","entityidfilter":"binary_sensor.door_sensor_hide_meopened","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":80,"y":140,"wires":[["3f71ebd4.2708b4"]]},{"id":"3f71ebd4.2708b4","type":"switch","z":"e9b794bd.d66518","name":"on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":60,"wires":[[],["c0e4ad5c.69eb"]]},{"id":"c0e4ad5c.69eb","type":"delay","z":"e9b794bd.d66518","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":40,"wires":[["a51789ca.b34a08"]]},{"id":"170209cd.ac65e6","type":"api-call-service","z":"e9b794bd.d66518","name":"Save the Video","server":"24d9b0c8.1881a","service_domain":"shell_command","service":"blink","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":820,"y":40,"wires":[["b390ba1b.a20308"]],"info":"use this to convert to gif \n\nffmpeg -i /config/www/aptDoor_20190321_1801.mp4 -filter_complex 'fps=10,scale=320:-1:flags=lanczos,split [o1] [o2];[o1] palettegen [p]; [o2] fifo [o3];[o3] [p] paletteuse' /config/www/aptDoor_20190321_1801.gif"},{"id":"7a703ea2.0a2d5","type":"telegrambot-payload","z":"e9b794bd.d66518","name":"","bot":"9cdc81bc.0583f","chatId":"547874514","sendMethod":"sendVideo","payload":"","x":1370,"y":40,"wires":[[]]},{"id":"a51789ca.b34a08","type":"moment","z":"e9b794bd.d66518","name":"Generate Filename","topic":"","input":"","inputType":"date","inTz":"America/New_York","adjAmount":0,"adjType":"days","adjDir":"add","format":"[FrontDoor_]YYYYMMDD_HHmm[.mp4]","locale":"C","output":"filename","outputType":"msg","outTz":"America/New_York","x":490,"y":40,"wires":[["f82834f5.9342e8"]]},{"id":"f82834f5.9342e8","type":"function","z":"e9b794bd.d66518","name":"Compose Param","func":"\nmsg.payload  = \n{ \n    \"data\": { \"videoFilename\": msg.filename }\n}\nreturn msg;\n","outputs":"1","noerr":0,"x":630,"y":100,"wires":[["170209cd.ac65e6"]]},{"id":"8a0d7f4f.83758","type":"function","z":"e9b794bd.d66518","name":"Compose Param","func":"\nmsg.payload  = \n{\n    \"video\": \"https://hass.traviswu.com/local/\" + msg.payload.data.videoFilename\n}\n\nreturn msg;","outputs":"1","noerr":0,"x":1150,"y":100,"wires":[["7a703ea2.0a2d5"]]},{"id":"b390ba1b.a20308","type":"delay","z":"e9b794bd.d66518","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":40,"wires":[["8a0d7f4f.83758"]]},{"id":"24d9b0c8.1881a","type":"server","z":"","name":"Home Assistant","legacy":false},{"id":"9cdc81bc.0583f","type":"telegrambot-config","z":"","botname":"traviswuBot","usernames":"","chatIds":"","pollInterval":"300"}]